---
title: 'Websites for Small Businesses | Dual Stream Web Designs | Binghamton, NY'
description: 'Meta description for the page'
preloadImg: '/assets/images/pexels-blitzboy-1144176.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-227">
        <div class="cs-container">
            <div class="cs-flex-group">
                <span class="cs-topper">Dual Stream Web Designs</span>
                <h1 class="cs-title">Optimize Your Business With A Quality Website</h1>
                <p class="cs-text">
                    Tincidunt lobortis feugiat vivamus at augue eget arcu dictum varius. Nibh tortor id aliquet lectus proin nibh condimentum.
                </p>
                <a href="" class="cs-button-solid">Explore More</a>
                <a href="" class="cs-button-transparent">
                    <img class="cs-img" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Hero/play.svg" alt="play icon" width="17" height="17" aria-hidden="true">
                    Learn More
                </a>
            </div>
            <!--Service Cards-->
            <ul class="cs-card-group">
                <li class="cs-item">
                    <a class="cs-link" href="">
                        <span class="cs-number">01</span>
                        <h2 class="cs-h2">Choose Place Activity and Time</h2>
                        <p class="cs-item-text">
                            Dui sapien eget mi proin sed libero enim sed. Commodo elit at imperdiet dui accumsan sit amet nulla facilisi.
                        </p>
                    </a>
                </li>
                <li class="cs-item">
                    <a class="cs-link" href="">
                        <span class="cs-number">01</span>
                        <h2 class="cs-h2">Find People With The Same Ideas</h2>
                        <p class="cs-item-text">
                            Dui sapien eget mi proin sed libero enim sed. Commodo elit at imperdiet dui accumsan sit amet nulla facilisi.
                        </p>
                    </a>
                </li>
                <li class="cs-item">
                    <a class="cs-link" href="">
                        <span class="cs-number">01</span>
                        <h2 class="cs-h2">Start Chat And Ask Them To Go</h2>
                        <p class="cs-item-text">
                            Dui sapien eget mi proin sed libero enim sed. Commodo elit at imperdiet dui accumsan sit amet nulla facilisi.
                        </p>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Background Image -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/pexels-blitzboy-1144176.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/pexels-blitzboy-1144176.jpg">
            <img decoding="async" src="/assets/images/pexels-blitzboy-1144176.jpg" alt="mountains" width="2250" height="1500" aria-hidden="true">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                About Us SBS                  -->
    <!-- ============================================ -->

    <section id="RTsbs-1594">
        <div class="cs-container">
            <div class="cs-image-group">
                <!--Top left image-->
                <picture class="cs-picture cs-picture1">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/macbook-mockup.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/macbook-mockup.png">
                    <img loading="lazy" decoding="async" src="/assets/images/macbook-mockup.png" alt="mechanic" width="366" height="317">
                </picture>
                <!--Top Right image-->
            </div>
            <div class="cs-content">
                <span class="cs-topper">About us</span>
                <h2 class="cs-title">Custom Websites Designed To Get You More Exposure</h2>
                <p class="cs-text">
                    Dive into the exhilarating world of fishing with Gill Rush, a dynamic and electrifying apparel brand designed exclusively for those who live for the rush of the catch. For avid anglers who feel the pulse quicken at the mere tug on their line, Gill Rush captures the essence of that heart-pounding moment when fish and fisherman lock in a fierce dance of skill and strategy.
                </p>
                <a href="" class="cs-button-solid">Learn More</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--             Side By Side Reverse             -->
    <!-- ============================================ -->

    <section id="RTsbsr-1594">
        <div class="cs-container">
            <div class="cs-image-group">
                <!--Top left image-->
                <picture class="cs-picture cs-picture1">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/performance-img.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/performance-img.png">
                    <img loading="lazy" decoding="async" src="/assets/images/performance-img.png" alt="mechanic" width="413" height="400">
                </picture>
                <!--Top Right image-->
            </div>
            <div class="cs-content">
                <span class="cs-topper">Optimization</span>
                <h2 class="cs-title">Helping Small Businesses Beyond The Website </h2>
                <p class="cs-text">
                    Dive into the exhilarating world of fishing with Gill Rush, a dynamic and electrifying apparel brand designed exclusively for those who live for the rush of the catch. For avid anglers who feel the pulse quicken at the mere tug on their line, Gill Rush captures the essence of that heart-pounding moment when fish and fisherman lock in a fierce dance of skill and strategy.
                </p>
                <a href="" class="cs-button-solid">Get in Touch</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                 Why Choose                   -->
    <!-- ============================================ -->

    <section id="why-choose-892">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Why Choose Us</span>
                <h2 class="cs-title">Quality Over Quantity</h2>
                <p class="cs-text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia incidunt quia enim mollitia delectus? Perferendis sapiente quaerat quos. Odit quasi similique nobis earum laudantium ad doloribus quos eos quod. Delectus?
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fballs1.svg" loading="lazy" decoding="async" alt="icon" width="48" height="48" aria-hidden="true">
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Highly Experienced Therapists</h3>
                        <p class="cs-item-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa fugiat impedit molestias vitae voluptatibus sed enim! Cupiditate ab praesentium dolorem libero veritatis beatae assumenda totam, in, nemo quis consectetur labore! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores, quam?
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fballs2.svg" loading="lazy" decoding="async" alt="icon" width="48" height="48" aria-hidden="true">
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">No one does outpatient like us</h3>
                        <p class="cs-item-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa fugiat impedit molestias vitae voluptatibus sed enim! Cupiditate ab praesentium dolorem libero veritatis beatae assumenda totam, in, nemo quis consectetur labore! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores, quam?
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fballs3.svg" loading="lazy" decoding="async" alt="icon" width="48" height="48" aria-hidden="true">
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Perfectly Structured Sessions</h3>
                        <p class="cs-item-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa fugiat impedit molestias vitae voluptatibus sed enim! Cupiditate ab praesentium dolorem libero veritatis beatae assumenda totam, in, nemo quis consectetur labore! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores, quam?
                        </p>
                    </div>
                </li>
            </ul>
            <a href="" class="cs-button-solid">Contact Us</a>
            <!--Floating Arrow Graphic-->
            <img class="cs-floater" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Forange-arrow.svg" alt="arrow" loading="lazy" decoding="async" aria-hidden="true">
        </div>
    </section>
                                

    <!-- ============================================ -->
    <!--                  Pricing                     -->
    <!-- ============================================ -->

    <section id="pricing-357">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Pricing</span>
                <h2 class="cs-title">It's Easy to Get Started</h2>
                <p class="cs-text">
                    At Stitch Cleaning Service, let us help you solve problems so that you can focus on your mission. We support businesses through periods of expansion, succession.
                </p>
            </div>
            <ul class="cs-card-group">
                <!-- Option 1 -->
                <li class="cs-item">
                    <h3 class="cs-h3">Lump Sum</h3>
                    <p class="cs-item-text">
                        One and done.
                    </p>
                    <div class="cs-option-group">
                        <span class="cs-price">$900<span class="cs-small">Flat Fee</span></span>
                    </div>
                    <span class="cs-included">Package Includes</span>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            All available starter feature
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            Home service 24/7
                        </li>
                        <li class="cs-li cs-disabled">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            Customer agent service
                        </li>
                        <li class="cs-li cs-disabled">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            Professional cleaner
                        </li>
                        <li class="cs-li cs-disabled">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            2 bed room cleaning
                        </li>
                        <li class="cs-li cs-disabled">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            2 bed, living room cleaning
                        </li>
                    </ul>
                    <a href="/basic.html" class="cs-button-solid">Get Started</a>
                </li>
                <!-- Option 2 -->
                <li class="cs-item cs-popular">
                    <h3 class="cs-h3">Monthly</h3>
                    <p class="cs-item-text">
                        Perfect to get started.
                    </p>
                    <div class="cs-option-group">
                        <span class="cs-price">$150<span class="cs-small">/month</span></span>
                    </div>
                    <span class="cs-included">Package Includes</span>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            All available starter feature
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            Home service 24/7
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            Customer agent service
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            Professional cleaner
                        </li>
                        <li class="cs-li cs-disabled">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            2 bed room cleaning
                        </li>
                        <li class="cs-li cs-disabled">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            2 bed, living room cleaning
                        </li>
                    </ul>
                    <a href="/basic.html" class="cs-button-solid">Get Started</a>
                </li>
                <!-- Option 3 -->
                <li class="cs-item">
                    <h3 class="cs-h3">Edits</h3>
                    <p class="cs-item-text">
                        Get any alterations to your site taken care of.
                    </p>
                    <div class="cs-option-group">
                        <span class="cs-price">$40<span class="cs-small">/hour</span></span>
                    </div>
                    <span class="cs-included">Package Includes</span>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            All available starter feature
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            Home service 24/7
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            Customer agent service
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            Professional cleaner
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            2 bed room cleaning
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            2 bed, living room cleaning
                        </li>
                    </ul>
                    <a href="/basic.html" class="cs-button-solid">Get Started</a>
                </li>
            </ul>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery-43">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Work</span>
                <h2 class="cs-title">Check Out Some Of Our Other Work</h2>
                <p class="cs-text">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
                </p>
            </div>
            <div class="cs-image-group">
                <!-- Image 1 -->
                <a class="cs-item" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/house1-m.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/house1.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/house1.jpg" alt="fancy house" width="346" height="346">
                    </picture>
                    <!-- Hover Box -->
                    <div class="cs-hover-box">
                        <picture class="cs-icon">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orange-arrow-right.svg" alt="fancy house" width="20" height="20" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">Modern Architectual Design</h3>
                        <p class="cs-hover-box-text">
                            Li Europan lingues es membres del sam familie. Lor separat existentie es un myth.
                        </p>
                    </div>
                </a>
                <!-- Image 2 -->
                <a class="cs-item" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/house2-m.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/house2.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/house2.jpg" alt="modern house" width="346" height="346">
                    </picture>
                    <!-- Hover Box -->
                    <div class="cs-hover-box">
                        <picture class="cs-icon">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orange-arrow-right.svg" alt="fancy house" width="20" height="20" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">Modern Architectual Design</h3>
                        <p class="cs-hover-box-text">
                            Li Europan lingues es membres del sam familie. Lor separat existentie es un myth.
                        </p>
                    </div>
                </a>
                <!-- Image 3 -->
                <a class="cs-item" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/house3-m.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/house1.jpg">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/house1.jpg" alt="modern home at night" width="346" height="346">
                    </picture>
                    <!-- Hover Box -->
                    <div class="cs-hover-box">
                        <picture class="cs-icon">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orange-arrow-right.svg" alt="fancy house" width="20" height="20" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">Modern Architectual Design</h3>
                        <p class="cs-hover-box-text">
                            Li Europan lingues es membres del sam familie. Lor separat existentie es un myth.
                        </p>
                    </div>
                </a>
                <!-- Image 4 -->
                <a class="cs-item" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/house4-m.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/house4.jpg">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/house4.jpg" alt="modern home" width="346" height="346">
                    </picture>
                    <!-- Hover Box -->
                    <div class="cs-hover-box">
                        <picture class="cs-icon">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orange-arrow-right.svg" alt="fancy house" width="20" height="20" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">Modern Architectual Design</h3>
                        <p class="cs-hover-box-text">
                            Li Europan lingues es membres del sam familie. Lor separat existentie es un myth.
                        </p>
                    </div>
                </a>
                <!-- Image 5 -->
                <a class="cs-item" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/house5-m.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/house5.jpg">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/house5.jpg" alt="appliance" width="346" height="346">
                    </picture>
                    <!-- Hover Box -->
                    <div class="cs-hover-box">
                        <picture class="cs-icon">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orange-arrow-right.svg" alt="fancy house" width="20" height="20" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">Modern Architectual Design</h3>
                        <p class="cs-hover-box-text">
                            Li Europan lingues es membres del sam familie. Lor separat existentie es un myth.
                        </p>
                    </div>
                </a>
                <!-- Image 6 -->
                <a class="cs-item" href="">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/house6-m.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/house6.jpg">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/house6.jpg" alt="modern home" width="346" height="346">
                    </picture>
                    <!-- Hover Box -->
                    <div class="cs-hover-box">
                        <picture class="cs-icon">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orange-arrow-right.svg" alt="fancy house" width="20" height="20" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">Modern Architectual Design</h3>
                        <p class="cs-hover-box-text">
                            Li Europan lingues es membres del sam familie. Lor separat existentie es un myth.
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews-278">
        <div class="cs-container">
            <!-- Left section -->
            <div class="cs-card">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Reviews/dentist-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Reviews/dentist.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/dentist.jpg" alt="man at dentist" width="328" height="200" aria-hidden="true">
                </picture>
                <div class="cs-content">
                    <span class="cs-topper">Redefining Martial Arts</span>
                    <h2 class="cs-title">Our Clients Love Their New Websites</h2>
                    <p class="cs-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquet commodo, proin diam erat. Quis lectus faucibus ac velit consectetur nunc, lorem. Nibh eu fermentum, nullam cursus tortor augue at. 
                    </p>
                    <a href="" class="cs-button-solid">Contact Us</a>
                </div>
            </div>
            <!-- Right Section -->
            <div class="cs-review">
                <img class="cs-review-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="5 stars" width="112" height="20">
                <span class="cs-review-title">Amazing Service</span>
                <p class="cs-review-p">
                    Nisl sit congue justo mi fermentum orci, vitae vel. Consequat nunc varius massa pulvinar non in. Neque, massa pharetra elementum at faucibus in. Amet ullamcorper convallis in vel sagittis amet. Neque quam nibh vulputate vel, ac ut. Vulputate lectus laoreet laoreet porttitor condimentum erat.
                </p>
                <span class="cs-review-name">⎯ Marie-Claire</span>
            </div>
        </div>
    </section>

    <script src="/assets/js/home.js"></script>

    {% include 'components/cta.html' %}
{% endblock %}