---
title: 'Websites for Small Businesses | Dual Stream Web Designs | Binghamton, NY'
description: 'Meta description for the page'
preloadImg: '/assets/images/pexels-blitzboy-1144176.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-227">
        <div class="cs-container">
            <div class="cs-flex-group">
                <span class="cs-topper">Dual Stream Web Designs</span>
                <h1 class="cs-title">Optimize Your Business With A Quality Website</h1>
                <p class="cs-text">
                    Tincidunt lobortis feugiat vivamus at augue eget arcu dictum varius. Nibh tortor id aliquet lectus proin nibh condimentum.
                </p>
                <a href="" class="cs-button-solid">Explore More</a>
            </div>
            <!--Service Cards-->
            <ul class="cs-card-group">
                <li class="cs-item">
                    <a class="cs-link" href="">
                        <span class="cs-number">01</span>
                        <h2 class="cs-h2">Mobile-First Design</h2>
                        <p class="cs-item-text">
                            The vast majority of internet traffic is done on mobile devices which is why our websites are built to perform best on smaller screens.
                        </p>
                    </a>
                </li>
                <li class="cs-item">
                    <a class="cs-link" href="">
                        <span class="cs-number">02</span>
                        <h2 class="cs-h2">Fully Optimized</h2>
                        <p class="cs-item-text">
                            What's a visually impressive website if it doesn't work well under the hood? Our websites score 98-100 on Google Pagespeed.
                        </p>
                    </a>
                </li>
                <li class="cs-item">
                    <a class="cs-link" href="">
                        <span class="cs-number">03</span>
                        <h2 class="cs-h2">Growth Oriented</h2>
                        <p class="cs-item-text">
                            Our websites aren't meant to be a one and done fix for small businesses. We seek to provide business owners the online visibility they deserve.
                        </p>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Background Image -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/pexels-blitzboy-1144176.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/pexels-blitzboy-1144176.jpg">
            <img decoding="async" src="/assets/images/pexels-blitzboy-1144176.jpg" alt="mountains" width="2250" height="1500" aria-hidden="true">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                About Us SBS                  -->
    <!-- ============================================ -->

    <section id="RTsbs-1594">
        <div class="cs-container">
            <div class="cs-image-group">
                <!--Top left image-->
                <picture class="cs-picture cs-picture1">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/macbook-mockup.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/macbook-mockup.png">
                    <img loading="lazy" decoding="async" src="/assets/images/macbook-mockup.png" alt="mechanic" width="366" height="317">
                </picture>
                <!--Top Right image-->
            </div>
            <div class="cs-content">
                <span class="cs-topper">About us</span>
                <h2 class="cs-title">Custom Websites Designed To Get You More Exposure</h2>
                <p class="cs-text">
                    Dive into the exhilarating world of fishing with Gill Rush, a dynamic and electrifying apparel brand designed exclusively for those who live for the rush of the catch. For avid anglers who feel the pulse quicken at the mere tug on their line, Gill Rush captures the essence of that heart-pounding moment when fish and fisherman lock in a fierce dance of skill and strategy.
                </p>
                <a href="" class="cs-button-solid">Learn More</a>
            </div>
        </div>
    </section>


    <!-- ============================================ -->
    <!--                   Steps                      -->
    <!-- ============================================ -->

    <section id="steps-1173">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Work Process</span>
                <h2 class="cs-title">How To Get Started</h2>
                <p class="cs-text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa libero sint hic accusantium exercitationem, voluptatem officia quaerat velit quis ullam?
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="/assets/svgs/plan-svgrepo-com.svg" alt="icon" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Design Phase</h3>
                    <p class="cs-item-text">
                        Once we've received the first invoice, we'll get started on a design for the website according to your vision.
                    </p>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="/assets/svgs/coding-html-svgrepo-com.svg" alt="icon" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Coding and Approval</h3>
                    <p class="cs-item-text">
                        Following approval of the design, we'll get started coding the website and a demolink will be sent to you upon completion.
                    </p>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="/assets/svgs/optimization-svgrepo-com.svg" alt="icon" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Optimization, Hosting, and Domain</h3>
                    <p class="cs-item-text">
                        Once the final website is approved, we'll optimize the site to achieve a Pagespeed Score of 98-100 before putting it online.
                    </p>
                </li>
            </ul>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                 Why Choose                   -->
    <!-- ============================================ -->

    <section id="why-choose-892">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Why Choose Us</span>
                <h2 class="cs-title">Quality Over Quantity</h2>
                <p class="cs-text">
                    The process of creating a high performing website doesn't stop when the site is online. 
                    By monitoring all of our clients' websites we ensure that your site gets the visibility it deserves.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <img class="cs-icon" src="/assets/svgs/analytics-svgrepo-com.svg" loading="lazy" decoding="async" alt="icon" width="48" height="48" aria-hidden="true">
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Google Analytics</h3>
                        <p class="cs-item-text">
                            By installing Google Analytics into all of our completed websites, we can monitor their performance and make any necessary changes to improve it.
                            Websites aren't meant to just look pretty. At the end of the day, the goal is to get you more online visibility and ultimately more customers.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <img class="cs-icon" src="/assets/svgs/communication-3-svgrepo-com.svg" loading="lazy" decoding="async" alt="icon" width="48" height="48" aria-hidden="true">
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Not a One and Done</h3>
                        <p class="cs-item-text">
                            Our goal is to stay in touch with all of our clients even after their website is completed. Getting feedback and making improvements is the name of the game
                            and we want to see all of our clients' websites succeed. 
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <img class="cs-icon" src="/assets/svgs/handshake-svgrepo-com.svg" loading="lazy" decoding="async" alt="icon" width="48" height="48" aria-hidden="true">
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Leave it To Us</h3>
                        <p class="cs-item-text">
                            We value your time and seek to make the website development process as effecient and simple as possible. Our goal is to let you take care of your business without 
                            having to worry about your website. 
                        </p>
                    </div>
                </li>
            </ul>
            <a href="" class="cs-button-solid">Contact Us</a>
            <!--Floating Arrow Graphic-->
            <img class="cs-floater" src="/assets/svgs/down-curved-arrow-svgrepo-com.svg" alt="arrow" loading="lazy" decoding="async" aria-hidden="true">
        </div>
    </section>
                                

    <!-- ============================================ -->
    <!--                  Pricing                     -->
    <!-- ============================================ -->

    <section id="pricing-357">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Pricing</span>
                <h2 class="cs-title">Choose The Option That Works Best For Your Business</h2>
                <p class="cs-text">
                    At Dual Stream, we seek to provide small businesses quality websites at affordable prices. 
                    Our mission is to help you expand your reach without breaking the bank.
                </p>
            </div>
            <ul class="cs-card-group">
                <!-- Option 1 -->
                <li class="cs-item">
                    <h3 class="cs-h3">Lump Sum</h3>
                    <p class="cs-item-text">
                        One and done.
                    </p>
                    <div class="cs-option-group">
                        <span class="cs-price">$900<span class="cs-small">Flat Fee</span></span>
                    </div>
                    <span class="cs-included">Package Includes</span>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            Fully Optimized Custom Website
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            Hosting Included
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            5 Pages
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            Lifetime Maintenance
                        </li>
                        <li class="cs-li cs-disabled">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            Unlimited Edits
                        </li>
                    </ul>
                    <a href="/basic.html" class="cs-button-solid">Get Started</a>
                </li>
                <!-- Option 2 -->
                <li class="cs-item cs-popular">
                    <h3 class="cs-h3">Monthly</h3>
                    <p class="cs-item-text">
                        Perfect for small businesses.
                    </p>
                    <div class="cs-option-group">
                        <span id="price-1" class="cs-price">$150<span class="cs-small">/month</span></span>
                        <h3 class="cs-h3">6 month minimum contract</h2>
                    </div>
                    <span class="cs-included">Package Includes</span>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            Fully Optimized Custom Website
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            Unlimited Edits
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            5 Pages
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            Hosting Included
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            Lifetime Maintenance
                        </li>
                    </ul>
                    <a href="/basic.html" class="cs-button-solid">Get Started</a>
                </li>
                <!-- Option 3 -->
                <li class="cs-item">
                    <h3 class="cs-h3">Edits</h3>
                    <p class="cs-item-text">
                        Get any alterations to your site taken care of.
                    </p>
                    <div class="cs-option-group">
                        <span class="cs-price">$40<span class="cs-small">/hour</span></span>
                    </div>
                    <span class="cs-included">Package Includes</span>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            Added Features
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            SEO Upgrades
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            Design Changes
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            Additional Pages
                        </li>
                        <li class="cs-li">
                            <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                            1 Hour Minimum
                        </li>
                    </ul>
                    <a href="/basic.html" class="cs-button-solid">Get Started</a>
                </li>
            </ul>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                  Gallery                     -->
    <!-- ============================================ -->

    <section id="gallery-1716">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Portfolio</span>
                <h2 class="cs-title">Check Out Some Of Our Other Work</h2>
                <!--If you remove the cs-text, the rectangle shape will disappear.  If you need to remove it, transfer the :before and .cs-text:last-of-type styles to the cs-title on mobile and desktop-->
                <p class="cs-text">
                    SUB-G Brazilian Jiu-Jitsu is a local martial arts gym in Port Jervis, NY that opened its doors in 2021. We made their first website and continue to work with them.
                </p>
                <a href="" class="cs-button-solid">Visit SUB-G BJJ</a>
            </div>
            <div class="cs-gallery">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)"
                            srcset="/assets/images/portfolio-img.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)"
                            srcset="/assets/images/portfolio-img.jpg">
                    <img loading="lazy" decoding="async"
                            src="/assets/images/portfolio-img.jpg" alt="picture"
                            width="400" height="172">
                </picture>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews-278">
        <div class="cs-container">
            <!-- Left section -->
            <div class="cs-card">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/pexels-pixabay-260447.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/pexels-pixabay-260447.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/pexels-pixabay-260447.jpg" alt="man at dentist" width="328" height="200" aria-hidden="true">
                </picture>
                <div class="cs-content">
                    <span class="cs-topper">Redefining Martial Arts</span>
                    <h2 class="cs-title">Our Clients Love Their New Websites</h2>
                    <p class="cs-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquet commodo, proin diam erat. Quis lectus faucibus ac velit consectetur nunc, lorem. Nibh eu fermentum, nullam cursus tortor augue at. 
                    </p>
                    <a href="" class="cs-button-solid">Contact Us</a>
                </div>
            </div>
            <!-- Right Section -->
            <div class="cs-review">
                <img class="cs-review-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="5 stars" width="112" height="20">
                <span class="cs-review-title">Amazing Service</span>
                <p class="cs-review-p">
                    Nisl sit congue justo mi fermentum orci, vitae vel. Consequat nunc varius massa pulvinar non in. Neque, massa pharetra elementum at faucibus in. Amet ullamcorper convallis in vel sagittis amet. Neque quam nibh vulputate vel, ac ut. Vulputate lectus laoreet laoreet porttitor condimentum erat.
                </p>
                <span class="cs-review-name">⎯ Tyler Roberts</span>
            </div>
        </div>
    </section>

    <script src="/assets/js/home.js"></script>

    {% include 'components/cta.html' %}
{% endblock %}