/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
    #banner-849 {
        /* 175px - 260px top */
        padding: clamp(10.9375rem, 20vw, 16.25rem) calc(16 / 16 * 1rem)
            clamp(6.25rem, 14vw, 12vw);
        /* clips svg wave from causing overflow issues */
        overflow: hidden;
        position: relative;
        z-index: 1;
        background-color: #EEF7FF;

        .cs-container {
            text-align: center;
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: calc(16 / 16 * 1rem);
        }

        .cs-int-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
            font-weight: 900;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0;
            color: var(--bodyTextColorWhite);
            position: relative;
            font-family: "Barlow Condensed";
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                /* background color overlay */
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: rgba(57, 115, 138, 0.9) 16.86%,;
                opacity: 0.64;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }

        .cs-wave {
            /* we're stretching the svg wider than the viewport so it's taller and has more of a presence */
            width: calc(768 / 16 * 1rem);
            height: auto;
            display: block;
            position: absolute;
            left: 50%;
            bottom: -1px;
            transform: translateX(-50%);
            z-index: -1;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48em) {
    #banner-849 {
        .cs-background {
            &:before {
                opacity: 1;
                background: linear-gradient(
                    90.01deg,
                    rgba(32, 80, 99, 0.9) 16.86%,
                    rgba(0, 0, 0, 0) 100%
                );
            }
        }

        .cs-wave {
            width: 100%;
            left: 0;
            transform: none;
        }
    }
}

/* Desktop Parallax Effect - 1300px */
@media only screen and (min-width: 81.25rem) {
    #banner-849 {
        background: url("/assets/images/pexels-kelly-1179532-23848564.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        /* creates parallax effect on background image */
        background-attachment: fixed;
        /* remove img tag so we can make parallax work */
        .cs-background {
            img {
                display: none;
            }
        }
    }
}

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-76 {
        padding: var(--sectionPadding);
        /* clips the red box from causing overflow issues */
        overflow: hidden;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(542 / 16 * 1rem);
            margin-right: auto;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 400;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: 30px;
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                background: white;
                opacity: 0;
                top: 0;
                left: 0;
                z-index: -1;
                transition: opacity .3s ease-in-out;
                border-radius: 30px;
                border: 2px solid var(--primary);
            }
  
            &:hover {
              color: var(--primary);
  
                &:before {
                    opacity: 1;
                }
            }
        }

        .cs-wrapper {
            width: 95%;
            max-width: calc(550 / 16 * 1rem);
            /* 28px - 80px */
            /* pushes up and down by the same amount the decorative box overflows the wrapper */
            margin: clamp(1.75em, 7.8vw, 5em) 0;
            position: relative;
            z-index: 1;
            &:before {
                /* Red decorative box */
                content: "";
                /* make it huge so it covers everything on the left as it overflows */
                width: calc(800 / 16 * 1em);
                background: var(--primary);
                opacity: 1;
                border-radius: calc(16 / 16 * 1rem);
                position: absolute;
                display: block;
                /* 28px - 80px */
                /* wrapped in a calc function to get a negative clamp value */
                top: calc(clamp(1.75em, 7.8vw, 5em) * -1);
                bottom: calc(clamp(1.75em, 7.8vw, 5em) * -1);
                left: calc(65 / 16 * 1em);
                z-index: -1;
            }
        }

        .cs-picture {
            width: 100%;
            margin: 0;
            /* width divided by height */
            aspect-ratio: 312/335;
            border-radius: calc(16 / 16 * 1rem);
            display: block;
            position: relative;
            z-index: 1;

            &:before {
                /* Top right box */
                content: "";
                width: calc(160 / 16 * 1rem);
                /* 202px - 248px */
                height: clamp(12.625rem, 25vw, 15.5rem);
                background: var(--primaryLight);
                opacity: 1;
                border-radius: calc(16 / 16 * 1rem);
                position: absolute;
                display: block;
                /* 16px -20px */
                /* wrapped in a calc function to get a negative clamp value */
                top: calc(clamp(0.5rem, 2.09vw, 1.25rem) * -1);
                right: calc(clamp(0.5rem, 2.09vw, 1.25rem) * -1);
            }

            &:after {
                /* Bottom left box */
                content: "";
                width: calc(160 / 16 * 1rem);
                /* 202px - 248px */
                height: clamp(12.625rem, 25vw, 15.5rem);
                background: var(--primaryLight);
                opacity: 1;
                border-radius: calc(16 / 16 * 1rem);
                position: absolute;
                display: block;
                /* 16px -20px */
                /* wrapped in a calc function to get a negative clamp value */
                bottom: calc(clamp(0.5rem, 2.09vw, 1.25rem) * -1);
                left: calc(clamp(0.5rem, 2.09vw, 1.25rem) * -1);
                z-index: -1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: calc(16 / 16 * 1rem);
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbsr-76 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            flex-direction: row;
            justify-content: flex-end;
            /* 60px - 128px */
            gap: clamp(3.75rem, 9.5vw, 8rem);
        }

        .cs-wrapper {
            /* 328px - 502px */
            width: clamp(20.5rem, 37.5vw, 31.375rem);
            /* 440px - 520px */
            height: clamp(27.5rem, 40vw, 32.5rem);
            /* 16px - 20px */
            margin-right: clamp(1rem, 5vw, 1.25rem);
            /* sends it to the right in the 2nd position */
            order: 2;
            flex: none;
        }

        .cs-picture {
            margin: 0;
            height: 100%;
            flex: none;
        }

        .cs-content {
            width: 45%;
            margin: 0;
        }
    }
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-1073 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            /* changes to 433px at desktop */
            max-width: calc(542 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-list {
            max-width: calc(630 / 16 * 1rem);
            margin: 0 0 calc(32 / 16 * 1rem) 0;
            padding: 0;
            /* clips the bullets to create the half circle */
            overflow: hidden;
        }

        .cs-li {
            list-style: none;
            margin: 0 0 calc(8 / 16 * 1rem) 0;
            color: var(--bodyTextColor);
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: calc(12 / 16 * 1rem);
            position: relative;

            &:before {
                /* bullet */
                content: "";
                width: calc(16 / 16 * 1rem);
                height: calc(16 / 16 * 1rem);
                margin-top: calc(3 / 16 * 1rem);
                /* make it overflow the parent by half it's width to make an eclipse */
                margin-left: calc(-8 / 16 * 1rem);
                background: var(--secondary);
                border-radius: 50%;
                display: block;
                /* prevents flexbox from squishing it */
                flex: none;
            }
        }

        .cs-link {
            text-decoration: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: calc(12 / 16 * 1rem);
            position: relative;

            &:hover {
                .cs-wrapper {
                    transform: scale(1.1);
                }
            }
        }

        .cs-wrapper {
            width: calc(56 / 16 * 1rem);
            height: calc(56 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
            transition: transform 0.3s;
        }

        .cs-icon {
            width: calc(24 / 16 * 1rem);
            height: auto;
            display: block;
            transition: transform 0.3s;
        }

        .cs-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: calc(4 / 16 * 1rem);
        }

        .cs-header {
            font-size: calc(14 / 16 * 1rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            display: block;
        }

        .cs-link-content {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 4vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
            display: block;
        }

        .cs-image-group {
            /* scales the whole group based on the view width size and stop when that vales equals .745em, resets at desktop */
            font-size: min(1.959vw, 0.745em);
            width: calc(738 / 16 * 1em);
            height: calc(662 / 16 * 1em);
            display: block;
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            position: absolute;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-picture1 {
            width: calc(219 / 16 * 1em);
            height: calc(440 / 16 * 1em);
            top: calc(102 / 16 * 1em);
            left: 0;
            z-index: -1;
        }

        .cs-picture2 {
            width: calc(307 / 16 * 1em);
            height: calc(600 / 16 * 1em);
            bottom: 0;
            left: calc(217 / 16 * 1em);
            z-index: 10;
        }

        .cs-picture3 {
            width: calc(218 / 16 * 1em);
            height: calc(440 / 16 * 1em);
            top: calc(182 / 16 * 1em);
            right: 0;
            z-index: -1;
        }

        .cs-stripes {
            width: calc(578 / 16 * 1em);
            height: auto;
            display: block;
            position: absolute;
            top: calc(0 / 16 * 1em);
            left: calc(72 / 16 * 1em);
            z-index: -2;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-1073 {
        .cs-container {
            max-width: calc(1280 / 16 * 1em);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .cs-content {
            max-width: calc(433 / 16 * 1em);
        }

        .cs-image-group {
            font-size: min(1.2vw, 1em);
            flex: none;
        }
    }
}
      
