/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

/*-- -------------------------- -->
<---       About Us SBS         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #RTsbs-1594, #RTsbsr-1594, #RTsbst-1594 {
      padding: var(--sectionPadding);
      
      .cs-container {
          width: 100%;
          /* changes to 1280px at desktop */
          max-width: calc(550 / 16 * 1rem);
          margin: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          /* 48px - 64px */
          gap: clamp(3rem, 6vw, 4rem);
      }

      .cs-content {
          /* set text align to left if content needs to be left aligned */
          text-align: left;
          width: 100%;
          max-width: calc(630 / 16 * 1rem);
          display: flex;
          flex-direction: column;
          /* centers content horizontally, set to flex-start to left align */
          align-items: flex-start;
      }

      .cs-text {
          margin-bottom: calc(16 / 16 * 1rem);
          &:last-of-type {
              margin-bottom: calc(32 / 16 * 1rem);
          }
      }

      .cs-button-solid {
          font-size: calc(16 / 16 * 1rem);
          /* 46px - 56px */
          line-height: clamp(2.875rem, 5.5vw, 3.5rem);
          text-decoration: none;
          font-weight: 400;
          text-align: center;
          margin: 0;
          color: #fff;
          min-width: calc(150 / 16 * 1rem);
          padding: 0 calc(48 / 16 * 1rem);
          background-color: var(--primary);
          display: inline-block;
          position: relative;
          z-index: 1;
          /* prevents padding from adding to the width */
          box-sizing: border-box;

          &:before {
              content: '';
              position: absolute;
              height: 100%;
              width: 100%;
              background: white;
              opacity: 0;
              top: 0;
              left: 0;
              z-index: -1;
              transition: opacity .3s ease-in-out, color 0.3s ease-in-out;
              border-radius: 30px;
              border: 2px solid var(--primary);
          }

          &:hover {
            color: var(--primary);

              &:before {
                  opacity: 1;
              }
          }
      }

      .cs-image-group {
          /* scales the whole group based on the view width size and stop when that vales equals .745em, resets at desktop */
          font-size: min(1.959vw, .745em);
          width: calc(630 / 16 * 1em);
          /* we set a minimum height so it never gets smaller than this value */
          min-height: calc(528 / 16 * 1em);
          display: block;
          position: relative;
          z-index: 1;
      }

      .cs-picture {
          position: absolute;

          img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              position: absolute;
              top: 0;
              left: 0;
          }
      }

      .cs-picture1 {
          /* the percentage heights allow them to be responsive to the height of the parent cs-image-group. On desktop, when the felxbox is set to aling-items: stretch, the cs-image group will stretch to fill the height of the parent container. So when you add more content to the cs-content group and make it taller, the cs-image group will get taller with it and every image will stretch with the parent, making this entire group responsive to the changing amounts of content next to it */
          width: calc(600 / 16 * 1em);
          height: 91.617834%;
          top: 0;
          left: 0;
          z-index: -1;
      }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #RTsbs-1594, #RTsbsr-1594, #RTsbst-1594 {
      .cs-container {
          max-width: calc(1280 / 16 * 1rem);
          flex-direction: row;
          justify-content: space-between;
          align-items: stretch;
      }

      .cs-content {
          /* this padding sets a minimum gap between the top and bottom of the content div and the top and bottom of the cs-image-group */
          padding: calc(60 / 16 * 1rem) 0;
          /* while the cs-image-group will stretch to fill the height of the parent, this property will ensure that the cs-content group aligns itse;f in the center of the parent div instead of stretching */
          align-self: center;
      }

      .cs-image-group {
          font-size: min(1.2vw, 1em);
          flex: none;
      }

      .cs-picture {
          position: absolute;

          img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              position: absolute;
              top: 0;
              left: 0;
          }
      }

      .cs-picture1 {
          /* the percentage heights allow them to be responsive to the height of the parent cs-image-group. On desktop, when the felxbox is set to aling-items: stretch, the cs-image group will stretch to fill the height of the parent container. So when you add more content to the cs-content group and make it taller, the cs-image group will get taller with it and every image will stretch with the parent, making this entire group responsive to the changing amounts of content next to it */
          width: calc(600 / 16 * 1em);
          height: 73.617834%;
      }
  }
}

@media only screen and (min-width: 64rem) {
    #RTsbs-1594, #RTsbsr-1594, #RTsbst-1594 {
  
        .cs-picture1 {
            /* the percentage heights allow them to be responsive to the height of the parent cs-image-group. On desktop, when the felxbox is set to aling-items: stretch, the cs-image group will stretch to fill the height of the parent container. So when you add more content to the cs-content group and make it taller, the cs-image group will get taller with it and every image will stretch with the parent, making this entire group responsive to the changing amounts of content next to it */
            width: calc(600 / 16 * 1em);
            height: 93.617834%;
        }
    }
}

/*-- -------------------------- -->
<---           Steps            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #steps-1173 {
        padding: var(--sectionPadding);
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(704 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-text {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            max-width: calc(650 / 16 * 1rem);
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            gap: calc(20 / 16 * 1rem);
        }

        .cs-item {
            text-align: center;
            list-style: none;
            display: flex;
            grid-column: span 12;
            flex-direction: column;
            align-items: center;
            position: relative;

            &:last-of-type {
                &:after {
                    display: none;
                }
            }

            &:nth-of-type(even) {
                &:after {
                    /* scaleX -1 flips it horizontally */
                    transform: rotate(-135deg) scaleX(-1);
                }
            }

            &:after {
                content: "";
                position: relative;
                display: block;
                /* 54px - 84px */
                width: clamp(3.375rem, 6vw, 5.25rem);
                height: clamp(3.375rem, 6vw, 5.25rem);
                margin-top: calc(20 / 16 * 1rem);
                background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/curved-arrow-light.svg");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                opacity: 1;
                transform: rotate(135deg);
            }
        }

        .cs-picture {
            margin-bottom: calc(24 / 16 * 1rem);
            width: calc(88 / 16 * 1rem);
            height: calc(88 / 16 * 1rem);
            border: 1px solid #858585;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-icon {
            width: calc(40 / 16 * 1rem);
            height: auto;
            display: block;
        }

        .cs-h3 {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.2em;
            text-align: inherit;
            margin: 0 0 calc(12 / 16 * 1rem) 0;
            color: var(--headerColor);
        }

        .cs-item-text {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            text-align: inherit;
            max-width: calc(413 / 16 * 1rem);
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-graphic {
            width: calc(840 / 16 * 1rem);
            height: auto;
            opacity: 0.3;
            position: absolute;
            top: calc(-80 / 16 * 1rem);
            left: calc(-80 / 16 * 1rem);
            z-index: -1;
            transform: rotate(-10deg);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #steps-1173 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
        }

        .cs-item {
            grid-column: span 4;

            &:nth-of-type(1) {
                &:after {
                    margin: 0;
                    position: absolute;
                    right: calc(-40 / 16 * 1rem);
                    top: 0;
                    transform: rotate(135deg) scaleX(-1);
                }
            }

            &:nth-of-type(2) {
                &:after {
                    margin: 0;
                    position: absolute;
                    right: calc(-40 / 16 * 1rem);
                    top: 0;
                    transform: rotate(45deg);
                }
            }
        }
    }
}


/*-- -------------------------- -->
<---       How it Works         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
    #how-it-works {
        padding: 0 calc(16 / 16 * 1rem);

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: calc(40 / 16 * 1rem);
            background-color: transparent;
        }

        .cs-title {
            font-size: calc(16 / 16 * 2.25rem);
            text-align: left;
            max-width: calc(500 / 16 * 1rem);
            font-family: "Barlow Condensed";
            color: var(--primary);
            margin: 10px 0;
        }

        .cs-text {
            text-align: left;
            // max-width: calc(500 / 16 * 1rem);
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
            font-family: "Roboto";
        }

        #big-text {
            font-size: calc(16/16 *2rem);
            font-weight: normal;
            color: var(--altPrimary);
        }

        .cs-button-solid {
            max-width: 100%;
            margin-bottom: calc(16/16 * 4rem);
        }

        img {
            text-align: center;
        }

        .cs-flex-group {
            width: 90vw;
            /* 464px - 562px */
            max-width: clamp(29em, 60vw, 35.125em);
            margin: auto;
            /* 60px - 220px */
            margin-bottom: clamp(0.75em, 12.5vw, 10.75em);
            box-sizing: border-box;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
        }

        .cards-group {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .card {
                background-color: white;
                margin: 10px 0;
                border-radius: 4px;
                box-shadow: 3px 6px 10px rgb(235, 235, 235);
                height: calc(16/16 * 10em);
                max-width: clamp(29em, 60vw, 35.125em);
                padding: calc(16 / 16 * 1rem);
            }

            h2 {
                text-align: left;
                font-family: "Roboto";
                color: var(--altPrimary);
                margin-bottom: calc(16 / 16 * 0.75rem);
            }
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64em) {
    #how-it-works {
        padding: calc(16 / 16 * 1rem);

        .cs-container {
            flex-direction: row;
            gap: calc(100 / 16 * 1rem);
        }

        .cs-title {
            font-size: calc(16 / 16 * 3.75rem);
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
            font-family: "Roboto";
        }

        .cs-button-solid {
            max-width: 100%;
        }

        img {
            text-align: center;
        }

        .cs-flex-group {
            width: 100vw;
            /* 464px - 562px */
            max-width: clamp(29em, 60vw, 35.125em);
            margin: auto;
            /* 60px - 220px */
            margin-bottom: clamp(0.75em, 12.5vw, 10.75em);
        }

        .cards-group {
            flex-direction: row; 
            width: 40vw;
        
            .card {
                width: calc(55% - 40px); /* 50% width for each card with margin */
                margin: 5px 5px;
                height: calc(16/16 * 12em);
                max-width: clamp(32em, 63vw, 38.125em);
                padding: calc(16 / 16 * 1rem);
            }
        
            .card:nth-child(2n) {
                margin-right: 0; /* Remove margin for every second card in the row */
            }

            h2 {
                text-align: left;
                font-family: "Roboto";
                color: var(--altPrimary);
                margin-bottom: calc(16 / 16 * 0.75rem);
            }
        }
    }
}

/*-- -------------------------- -->
<---         Why Choose         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #why-choose-892 {
      /* Centers Button */
      text-align: center;
      padding: var(--sectionPadding);
      /* prevents the arrow from causing an overflow */
      overflow: hidden;
      position: relative;
      z-index: 1;

      .cs-container {
          width: 100%;
          /* changes to 1280px at tablet */
          max-width: calc(550 / 16 * 1rem);
          margin: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          /* 48px - 64px */
          gap: clamp(3rem, 6vw, 4rem);
          position: relative;
      }

      .cs-content {
          /* set text align to left if content needs to be left aligned */
          text-align: center;
          width: 100%;
          display: flex;
          flex-direction: column;
          /* centers content horizontally, set to flex-start to left align */
          align-items: center;
      }

      .cs-text {
          max-width: calc(800 / 16 * 1rem);
      }

      .cs-button-solid {
          font-size: calc(16 / 16 * 1rem);
          /* 46px - 56px */
          line-height: clamp(2.875rem, 5.5vw, 3.5rem);
          text-decoration: none;
          font-weight: 400;
          text-align: center;
          margin: 0;
          color: #fff;
          min-width: calc(150 / 16 * 1rem);
          padding: 0 calc(24 / 16 * 1rem);
          background-color: var(--primary);
          display: inline-block;
          position: relative;
          z-index: 1;
          /* prevents padding from adding to the width */
          box-sizing: border-box;

          &:before {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            background: white;
            opacity: 0;
            top: 0;
            left: 0;
            z-index: -1;
            transition: opacity .3s ease-in-out, color 0.3s ease-in-out;
            border-radius: 30px;
            border: 2px solid var(--primary);
        }

        &:hover {
          color: var(--primary);

            &:before {
                opacity: 1;
            }
        }
      }

      .cs-card-group {
          width: 100%;
          margin: 0;
          padding: 0;
          display: grid;
          grid-template-columns: repeat(6, 1fr);
          /* 16px - 20px */
          gap: clamp(1rem, 2vw, 1.25rem);
      }

      .cs-item {
          width: 100%;
          text-align: left;
          list-style: none;
          /* 20px - 32px */
          padding: clamp(1.25rem, 2.3vw, 2rem);
          background-color: #EEF7FF;
          border-radius: calc(16 / 16 * 1rem);
          /* prevents padding and border from affecting height and width */
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          grid-column: span 6;
          position: relative;
          z-index: 1;
      }

      .cs-icon {
          width: calc(48 / 16 * 1rem);
          height: auto;
          margin: 0 0 calc(20 / 16 * 1rem) 0;
          display: block;
      }

      .cs-h3 {
          font-size: calc(20 / 16 * 1rem);
          line-height: 1.5em;
          margin: 0 0 calc(12 / 16 * 1rem) 0;
          color: var(--headerColor);
          transition: color 0.3s;
      }

      .cs-item-text {
          /* 14px - 16px */
          font-size: clamp(0.875rem, 1.5vw, 1rem);
          line-height: 1.5em;
          margin: 0;
          color: var(--bodyTextColor);
          transition: color 0.3s;
      }

      .cs-floater {
          width: calc(151 / 16 * 1rem);
          height: auto;
          display: none;
          position: absolute;
          top: calc(-120 / 16 * 1rem);
          right: calc(60 / 16 * 1rem);
          transform: rotate(46deg);
      }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #why-choose-892 {
      .cs-container {
          max-width: calc(1280 / 16 * 1rem);
      }

      .cs-item {
          grid-column: span 2;
      }

      .cs-floater {
          display: block;
      }
  }
}

/*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
  #pricing-357 {
      padding: var(--sectionPadding);
      background-color: #F8FCFF;

      .cs-container {
          width: 100%;
          max-width: calc(1280 / 16 * 1rem);
          margin: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          /* 48px - 64px */
          gap: clamp(3rem, 6vw, 4rem);
      }

      .cs-content {
          /* set text align to left if content needs to be left aligned */
          text-align: center;
          width: 100%;
          display: flex;
          flex-direction: column;
          /* centers content horizontally, set to flex-start to left align */
          align-items: center;
      }

      .cs-card-group {
          width: 100%;
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          /* 16px - 20px */
          gap: clamp(1rem, 2vw, 1.25rem);
      }

      .cs-item {
          list-style: none;
          /* 20px - 32px top & bottom */
          /* 16px - 32px left & right */
          padding: clamp(1.25rem, 3vw, 2rem) clamp(1rem, 2.4vw, 2rem);
          width: 100%;
          max-width: calc(413 / 16 * 1rem);
          border-radius: calc(16 / 16 * 1rem);
          background: #fff;
          border: 1px solid #e8e8e8;
          /* prevents padding from adding to height and width */
          box-sizing: border-box;

          &:nth-of-type(2) {
              .cs-option2-text,
              .cs-option1-text {
                  transition-delay: 0.1s;
              }
          }

          &:nth-of-type(3) {
              .cs-option2-text,
              .cs-option1-text {
                  transition-delay: 0.2s;
              }
          }
      }

      .cs-popular {
          background: var(--primary);
          position: relative;
          /* clips the popular tag */
          overflow: hidden;
          /* send to the top */
          order: -1;

          &:before {
              /* Most Popular Tag */
              content: "Popular";
              font-size: calc(14 / 16 * 1rem);
              text-align: center;
              line-height: calc(29 / 16 * 1em);
              font-weight: 700;
              width: calc(170 / 16 * 1rem);
              padding: 0 calc(12 / 16 * 1rem);
              color: black;
              background-color: var(--primaryLight);
              position: absolute;
              display: block;
              top: calc(20 / 16 * 1rem);
              right: calc(-60 / 16 * 1rem);
              transform: rotate(42deg);
          }

          .cs-h3,
          .cs-item-text,
          .cs-price,
          .cs-included,
          .cs-li,
          .cs-small {
              color: var(--bodyTextColorWhite);
          }

          .cs-button-solid {
              background: #fff;
              color: var(--primary);
              transition: color 0.3s;

              &:before {
                  background-color: black;
                  border: none;
              }

              &:hover {
                  color: #fff;
              }
          }

          .cs-li-img {
              /* turns the check mark white */
              filter: brightness(900%);
          }
      }

      .cs-h3 {
          font-size: calc(20 / 16 * 1rem);
          line-height: 1.2em;
          font-weight: 700;
          margin: 0 0 calc(4 / 16 * 1rem);
          padding: 0;
          color: var(--headerColor);
      }

      .cs-item-text {
          font-size: calc(14 / 16 * 1rem);
          line-height: 1.5em;
          /* 16px - 24px */
          margin: 0 0 clamp(1rem, 2vw, 1.5rem);
          padding: 0;
          color: var(--bodyTextColor);
      }

      .cs-option-group {
          position: relative;
          &:after {
              /* top right box */
              content: "";
              width: 100%;
              height: 1px;
              /* 32px - 40px */
              margin-bottom: clamp(2rem, 4vw, 2.5rem);
              background: linear-gradient(
                  90deg,
                  rgba(232, 232, 232, 0.2) 0%,
                  #e8e8e8 53.78%,
                  rgba(232, 232, 232, 0.2) 100%
              );
              opacity: 1;
              position: relative;
              display: block;
          }
      }

      .cs-price {
          font-size: calc(49 / 16 * 1rem);
          line-height: 1.2em;
          font-weight: 700;
          margin-bottom: calc(24 / 16 * 1rem);
          color: var(--headerColor);
          /* spans are inline, need to add block for margin to work */
          display: block;
      }

        #price-1 {
            margin-bottom: 0;
        }

      .cs-small {
          font-size: calc(14 / 16 * 1rem);
          font-weight: 400;
          color: #4e4b66;
          margin-left: 10px;
      }

      .cs-included {
          font-size: calc(16 / 16 * 1rem);
          line-height: 1.5em;
          font-weight: 700;
          /* 16px - 24px */
          margin-bottom: clamp(1rem, 3vw, 1.5rem);
          color: var(--headerColor);
          display: block;
      }

      .cs-ul {
          padding: 0;
          margin: 0;
          /* 32px - 40px */
          margin-bottom: clamp(2rem, 4vw, 2.5rem);
      }

      .cs-li {
          /* 14px - 16px */
          font-size: clamp(0.875rem, 1.5vw, 1rem);
          line-height: 1.5em;
          list-style: none;
          padding: 0;
          margin: 0 0 calc(12 / 16 * 1rem);
          color: var(--bodyTextColor);
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;

          &:last-of-type {
              margin-bottom: 0;
          }
      }

      .cs-disabled {
          /* fades out list items that are disabled from the price tier */
          filter: grayscale(1);
          opacity: 0.3;
      }

      .cs-li-img {
          width: calc(20 / 16 * 1rem);
          height: auto;
          margin-top: calc(3 / 16 * 1rem);
          margin-right: calc(8 / 16 * 1rem);
      }

      .cs-button-solid {
          font-size: calc(16 / 16 * 1rem);
          /* 46px - 56px */
          line-height: clamp(2.875rem, 5.5vw, 3.5rem);
          text-decoration: none;
          font-weight: 400;
          text-align: center;
          margin: 0;
          color: #fff;
          min-width: calc(150 / 16 * 1rem);
          padding: 0 calc(24 / 16 * 1rem);
          background-color: var(--primary);
          display: inline-block;
          position: relative;
          z-index: 1;
          /* prevents padding from adding to the width */
          box-sizing: border-box;

          &:before {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            background: white;
            opacity: 0;
            top: 0;
            left: 0;
            z-index: -1;
            transition: opacity .3s ease-in-out, color 0.3s ease-in-out;
            border-radius: 30px;
            border: 2px solid var(--primary);
        }

        &:hover {
          color: var(--primary);

            &:before {
                opacity: 1;
            }
        }
      }

      .cs-button-solid {
          /* cs-button-solid override */
          width: 100%;
          margin: 0 0calc calc(16 / 16 * 1rem) 0;
      }
  }
}

/* Tablet 768px */
@media only screen and (min-width: 48rem) {
  #pricing-357 {
      .cs-card-group {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          flex-wrap: nowrap;
      }

      .cs-item {
          width: 100%;
          /* ensures they stay the same height if you add more content */
          align-self: stretch;
      }

      .cs-popular {
          /* send back to its original order */
          order: unset;
      }

      #cs-option2-357 {
          &:before {
              top: calc(-10 / 16 * 1rem);
          }
          &:after {
              top: calc(-35 / 16 * 1rem);
              right: calc(-100 / 16 * 1rem);
          }
      }
  }
}
  
/*-- -------------------------- -->
<---         Gallery            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #gallery-1716 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;
        overflow: hidden;
        background-color: #F8FCFF;
        
        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                /* 32px - 64px */
                margin-bottom: clamp(2rem, 7vw, 4rem);

                &:before {
                    /* colored overlay rectangle - positioned absolute to the section tag because it is the nearest parent with a decalred position relative */
                    content: '';
                    width: 100%;
                    height: 80%;
                    background: #F8FCFF;
                    opacity: .1;
                    position: absolute;
                    display: block;
                    bottom: 0;
                    left: 0;
                    z-index: -1;
                }
            }
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
	    	font-weight: 400;
	        text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                background: white;
                opacity: 0;
                top: 0;
                left: 0;
                z-index: -1;
                transition: opacity .3s ease-in-out, color 0.3s ease-in-out;
                border-radius: 30px;
                border: 2px solid var(--primary);
            }
    
            &:hover {
              color: var(--primary);
    
                &:before {
                    opacity: 1;
                }
            }
        }

        .cs-gallery {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            /* sends it to the top in the 1st position */
            order: -1;
        }

        .cs-picture {
            width: 100%;
            /* changes at tablet */
            height: 40vw;
            max-height: calc(400 / 16 * 1rem);
            display: block;
            position: relative;
            z-index: 1;
            grid-column: span 4;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 10px;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #gallery-1716 {
        .cs-container {
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-content {
            max-width: calc(304 / 16 * 1rem);
            /* 32px - 64px, ensures theres always a gap at the bottom to space out the content from the bottom of the container and let the colored rectangle shape be a little bigger and take up more space */
            padding-bottom: clamp(2rem, 7vw, 4rem);
        }

        .cs-text {
            &:last-of-type {
                /* add position relative so the colored rectangle is now absolutely positioned to the cs-text parent. We also only want these styles on the last paragraph tag */
                position: relative;
                z-index: 1;

                &:before {
                    width: 250vw;
                    height: 100vw;
                    top: calc(100% + 1.8rem);
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        .cs-gallery {
            height: auto;
        }

        .cs-picture {
            height: 100vw;
            width: 100%;
            /* 280px - 420px */
            min-height: clamp(17.5rem, 37vw, 26.25rem);
        }
    }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-278 {
      padding: var(--sectionPadding);

      .cs-container {
          width: 100%;
          /* changes to 1280px at tablet*/
          max-width: calc(550 / 16 * 1rem);
          margin: auto;
      }

      .cs-picture {
          width: 100%;
          /* 200px - 304px */
          height: clamp(12.5rem, 23.45vw, 19rem);
          display: block;
          position: relative;

          img {
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              object-fit: cover;
          }
      }

      .cs-card {
          max-width: calc(630 / 16 * 1rem);
      }

      .cs-content {
          /* set text align to left if content needs to be left aligned */
          text-align: left;
          width: 100%;
          /* Padding top & bottom 40px - 80px */
          /* Padding left & right 32px - 72px */
          padding: clamp(2.5rem, 5.8vw, 5rem) clamp(2rem, 5.8vw, 4.5rem);
          /* prevents padding and border from affecting height and width */
          box-sizing: border-box;
          background: var(--primary);
          display: flex;
          flex-direction: column;
          /* centers content horizontally, set to flex-start to left align */
          align-items: flex-start;

          .cs-button-solid {
            background: #fff;
            color: var(--primary);
            transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    
            &:before {
                background-color: black;
                border: none;
            }
    
            &:hover {
                color: #fff;
                background-color: black;
            }
        }
      }

      .cs-title,
      .cs-topper {
          color: var(--bodyTextColorWhite);
      }

      .cs-text {
          color: var(--bodyTextColorWhite);
          margin-bottom: calc(16 / 16 * 1rem);
          &:last-of-type {
              margin-bottom: calc(32 / 16 * 1rem);
          }
      }
    
      .cs-review {
          /* padding left & right 32px - 80px */
          padding: calc(40 / 16 * 1rem) clamp(2rem, 6vw, 5rem);
          box-shadow: -1px 21px 39px 0px rgba(0, 0, 0, 0.06);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
      }

      .cs-review-img {
          width: calc(112 / 16 * 1rem);
          height: calc(20 / 16 * 1rem);
          display: block;
          /* margin-bottom 8px - 12px */
          margin: 0 auto clamp(0.5rem, 2vw, 0.75rem);
      }

      .cs-review-title {
          /* 25px - 31px */
          font-size: clamp(1.5625rem, 3.1vw, 1.9375rem);
          line-height: 1.2em;
          text-align: center;
          font-weight: bold;
          /* margin-bottom 24px - 32px */
          margin: 0 auto clamp(1.5rem, 4.2vw, 2rem);
          color: var(--headerColor);
          display: block;
      }

      .cs-review-p {
          /* 16px - 20px */
          font-size: clamp(1rem, 2vw, 1.25rem);
          line-height: 1.5em;
          text-align: center;
          max-width: calc(434 / 16 * 1rem);
          /* margin-bottom 24px - 32px */
          margin: 0 auto clamp(1.5rem, 4.2vw, 2rem);
          color: var(--bodyTextColor);
      }

      .cs-review-name {
          /* 16px - 20px */
          font-size: clamp(1rem, 2vw, 1.25rem);
          line-height: 1.5em;
          text-align: center;
          margin: 0;
          display: block;
          color: var(--headerColor);
          font-weight: 700;
      }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews-278 {
      .cs-container {
          max-width: calc(1280 / 16 * 1rem);
          display: flex;
          justify-content: center;
          align-items: stretch;
          box-shadow: -1px 21px 39px 0px rgba(0, 0, 0, 0.06);
      }

      .cs-card {
          /* prevents it from being squished by flexbox */
          flex: none;
          width: 44.8vw;
          /* sends it to the right in the second position */
          order: 2;
      }

      .cs-review {
          box-shadow: none;
          width: 50%;
      }
  }
}
